{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>
  
    <script type="text/javascript" canvas="canvas"> 
      
    </script>
  
</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
    //enum
    var black = '#EEEEEE';
    var red = 'E4141B';
    var green = '#10E01B'
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
  
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket('ws://p4-vhan168-vhan2443362.codeanyapp.com:8765/');
/*                       
    var myPath = new paper.Path({
      strokeColor: '#E4141B'
    });
*/
    var myPath = new paper.Path();
    myPath.strokeColor = 'black';
    var points = [];
    var userColor = "black";
    
    tool.onMouseMove = function (event) {
      socket.onmessage = function(receivedMessage) {
	      // do something when you receive a message
        //console.log("Connection established!");
      
        console.log(receivedMessage.data);
//         pushPoint(myPath, receivedMessage.points, red);
        //points.push(new point(receivedMessage.data[0], receivedMessage.data[1]));
        points.push(receivedMessage.data);
        points.shift();
        myPath.lineTo(receivedMessage.data);

      };
      //console.log("down"+event.point);//show the first point
/*      
//       var newPoint = new paper.Path.Circle({ //暂时是个circle
       
//         center: event.point,
//         radius: 2,
//         fillColor: userColor
//       });
*/      
/*      
//       var pathStr = [];
//       var pointDoc = [];
//       pointDoc.push(event.poin)
*/
      var pointStr = event.point.x + ',' + event.point.y + ',' + black;
      
//       pushPoint(myPath, points, event.point, black);
        
        points.push(event.point);
        points.shift(); 
        myPath.lineTo(event.point)
      
      
      //Try using strings to send messages with websockets. 
      //How would you represent a paper.Point() using a string? 
      //What factors of the point are important?
      //socket.send(stringify(pointStr));
      socket.send(event.point);//可以直接传point么？
      
      
  	  // notify console if socket closes unexpectedly
      socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
      };
		}
    function encodeStr(pathString) {
      var pointArr = pathString.split(',');
      var pointx = pointArr[0];
      var pointy = pointArr[1];
      var color  = pointArr[2];
      //return ();
    }
    function pushPoint(myPath, points, point, color) {
      points.push(point);
      myPath.lineTo(points);
      points.shift();
      myPath.strokeColor = color;
    }  
    socket.onmessage = function(receivedMessage) {
	      // do something when you receive a message
        //console.log("Connection established!");
      
        console.log(receivedMessage.data);
//         pushPoint(myPath, receivedMessage.points, red);
        //points.push(new point(receivedMessage.data[0], receivedMessage.data[1]));
        points.push(receivedMessage.data);
        points.shift();
        myPath.lineTo(receivedMessage.data);
    }
//   DeviceMotionEvent.DeviceMotionEvent()
//     var handleOrientation = function(event) {
//       //When you shake your phone, clear the canvas. 
      
//         var x = event.gamma;

//       // Part 2: Update x and y appropriately if the device is facing downwards
//       //When you tilt your phone to the right (gamma), change the stroke color.
//       if (x > 180) {
//         x = 180;
//       } else if (x < -180) {
//         x = -180;
//       }
      
//       myPath.strokeColor = new Color();
      
//       circle.fillColor.hue += 60;
//       circle.fillColor.saturation = .5;
//       circle.fillColor.brightness += .4;

//     }

</script>
</html>